.tatable{
    width: 1000px;
    text-align: center;
    border: "0";
    cellspacing: "5";
    cellpadding: "1";
}

#tr1{
    text-align: center;
    background-color: var(--cor-um);
    font-family: var(--font-dois);
    font-weight: bold;
}

