.mae{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.dia{
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #D9D9D9;
}

.segunda{
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #D9D9D9;
}

.terca{
    border-radius:20px;
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    background-color: #D9D9D9;
}

.quarta{

}

.quinta{

}

.sexta{

}