@import url(./reset.css);
@import url(./colors_fonts.css);

.tatable{
    width: 90%;
    text-align: center;
    margin-top: 2%;
    margin-left: 5%;
    border: "0";
    cellspacing: "5";
    cellpadding: "1";
}

#tr1{
    text-align: center;
    background-color: var(--cor-um);
    font-family: var(--font-dois);
    font-weight: bold;
}

#tr2{
    text-align: justify;
    background-color: var(--cor-dois);
    color: var(--cor-tres);
    text-align: center;
    font-size: 13px;
    font-weight:bold;
    font-family: var(--font-dois);
}

#tr_terca_quinta{
    text-align: justify;
    background-color: var(--cor-um);
    color: var(--cor-quatro);
    text-align: center;
    font-size: 13px;
    font-weight:bold;
    font-family: var(--font-dois);
    
}

#td1,
#td2,
#td3,
#td4,
#td5{
    vertical-align: middle;
}

#p1,
#p2,
#p3,
#p4{
    align: left;
}

#ul1,
#ul2,
#ul3,
#ul4{
    text-align: left;
    margin: 4%;
}

li {
    text-align:justify;
}

@media screen and (max-width: 720px) {
    .tatable{
        width: 100%;
        margin: auto;
    }

    ul{
        margin: 4%;
    }
}