@import url(./colors_fonts.css);
@import url(./reset.css);

.cabecalho {
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    height: 113px;
    left: 0px;
    top: 0px;
    background: var(--cor-um);
}

.cardapio{
    /*
    width: 100%;
    max-width: 600px;

    margin: 3rem auto;
    height: 100vh;

    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;

    background: #D9D9D9;
    border-radius: 40px;
    */

    width: 1219px;
height: 743px;
left: 110px;
top: 201px;

background: #D9D9D9;
border-radius: 40px;
}

.dia{
    position: absolute;
    width: 300px;
    height: 300px;
    left: 107px;
    top: 265px;
    border-radius: 20px;
    background-color: var(--cor-quatro);
}





.rodape{
    height: 120px;
    left: 0px;
    right: 0px;
    top: 1031px;
    background: #2CBC63;
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    flex-shrink: 0;
}

.contatos{
    width: 266px;
    height: 116px;
    
    right: 38px;
    top: 1042px;
    color: #FFFFFF;

    

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;
}



/*DEIXANDO ADAPTADO PARA MOBILE*/
@media screen and (max-width: 720px) {
    .cabecalho{

    }

    .rodape{
        position: absolute;
        /*width: 1440px;*/
        height: 181px;
        left: 0px;
        right: 0px;
        right: auto;
        top: 1031px;
        background: #2CBC63;
        width:100%;
        margin: auto auto;
    }

    .cardapio{
        width: 90%;
        max-width: 600px;
    
        margin: 3rem auto;
        height: 100vh;
    
        display: flex;
        flex-direction: row;
    
        justify-content: center;
        align-items: center;
    
        background: #D9D9D9;
        border-radius: 40px;
    }
}