/* Mobile */
@media screen and (min-width: 390px) and (max-width: 844px){
    .mae{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 1rem;
        justify-items: center;
        align-items: center;
        width: 90%;
    }

    h4,
    h6{
        font-size: 1.5rem;
    }

    .dia{
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background-color: #D9D9D9;
    }

    .segunda{
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background-color: #D9D9D9;

        display: flex;
        width: 100%;
        margin-left: 2.5rem;

        align-content: center;
    }

    .terca{
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background-color: #D9D9D9;
    }

    .quarta{
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background-color: #D9D9D9;
    }

    .quinta{
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background-color: #D9D9D9;
    }

    .sexta{
        border-radius:20px;
        -moz-border-radius:20px;
        -webkit-border-radius:20px;
        background-color: #D9D9D9;
    }

}