* { margin: 0;
    padding: 0;
}

.carrossel{
    width: 100%;
    overflow: hidden;
    position: relative;
}

.carrossel-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    /* transform: translateX(0); */
}

.carrossel-container > img{
    width: 100%;
    height: auto
    object-fit: cover;

    
}

.carrossel-container > img{
   
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
    .carrossel{
        width: 50vw;
        height: 62vh;
    }
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .carrossel{
        width: 80vw;
        height: 45vh;
    }
}

/* MOBILE */
@media screen and (max-width: 767PX){
    .carrossel{
        width: 60vw;
        height: 30vh;
    }
}