* { margin: 0;
    padding: 0;
}

.carrossel{
    overflow: hidden;
}

.carrossel-container{
    display: flex;
    transition: transform 0.5s ease-in-out;
    transform: translateX(0);
}

.carrossel-container > img{
    object-fit: cover;
    margin-right: 10%;
}

/* DESKTOP */
@media screen and (min-width: 1280px) {
    .carrossel{
        width: 50vw;
        height: 62vh;
    }

    .carrossel-container > img{
        width: 60vw;
        height: 62vh;
    }
}
/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    .carrossel{
        width: 80vw;
        height: 45vh;
    }

    .carrossel-container > img{
        width: 80vw;
        height: 45vh;
    }
}

/* MOBILE */
@media screen and (max-width: 767PX){
    .carrossel{
        width: 60vw;
        height: 30vh;
    }
    
    .carrossel-container > img{
        width: 60vw;
        height: 30vh;
    }
}