@import url(./reset.css);

.carrossel {
    width: 100%;
    
  }
  
  .slide {
    display: none;
  }
  
  .slide.active {
    display: block;
  }
  
  .slide img {
    width: 100%;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  

  /*DEIXANDO ADAPTADO PARA MOBILE*/
@media screen and (max-width: 520px) {
 .carrossel{
    width: 95%;
    margin-left: 2.5rem;
 } 
}