:root{
    --font-um: 'Open Sans';
    --font-dois: 'arial';
    --cor-um: #2CBC63;
    --cor-dois: #DADCD8;
    --cor-tres: #000000;
    --cor-quatro: #FFFFFF;
    --cor-cinco: #CCCCCC;
    --cor-seis: #F6F7F9;
    

}