@import url(./colors_fonts.css);
@import url(./reset.css);

.cabecalho {
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    height: 113px;
    left: 0px;
    top: 0px;
    background: var(--cor-um);
}

.logoru{
    margin-right: 50%;
}

form{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
}

.img_logo{
    align-items: center;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
}


#hh3{
    font-family: var(--font-dois);
    font-size: 15px;
}


#usr,
#pass{
    margin: 0.5rem;
    border-radius: 30px;
    padding: 0.5%;
}

#entrar{
    border-radius: 30px;
    padding: 10%;
    background-color: var(--cor-um);
}

#esqueci{
    font-family: var(--font-dois);
    font-size: 10px;
    floa

}

.rodape{
    height: 120px;
    left: 0px;
    right: 0px;
    top: 1031px;
    background: #2CBC63;
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    flex-shrink: 0;
}

.contatos{
    width: 266px;
    height: 116px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;

    margin-left: 4.5%;
}

#email_unifesspa,
#whatsapp,
#instagram{
    padding-top: 10px;
}


/*DEIXANDO ADAPTADO PARA MOBILE*/
@media screen and (max-width: 720px) {
    body{
        width: 100%;
        height: 100%;
    }

    .cabecalho{
        flex-direction: column;
    }

    .logoru{
        width: 100%;
        height: 70%;
        align-items: center;
    }

    .img_logo{
        align-items: center;
        display: flex;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    
    #hh3{
        font-family: var(--font-dois);
        font-size: 15px;
    }
    
    
    #usr,
    #pass{
        margin: 0.5rem;
        border-radius: 30px;
        padding: 0.5%;
    }
    
    #entrar{
        border-radius: 30px;
        padding: 10%;
    }

    .rodape{
        width: 100%;
        height: 20%;
        
        position: absolute;
        flex-shrink: 0;
        bottom: 0;
        background: var(--cor-um);
    }
}
