@import url(./colors_fonts.css);
@import url(./reset.css);

.cabecalho {
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    height: 113px;
    left: 0px;
    top: 0px;
    background: var(--cor-um);
}

.logoru{
    margin-right: 50%;
}

.container{
    width: 80%;
    max-width: 600px;

    margin: 3rem auto;
    height: 70vh;

    display: flex;

    flex-direction: row;
    flex-direction: column;


    justify-content: center;
    text-align: center;
    align-items: center;
    /*
    background: var(--cor-dois);
    */
    background-color: #ED;
    border-radius: 40px;

}

.img_logo{
    margin-top: -5rem;
}

.container_container_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
}

#hh3{
    font-family: var(--font-dois);
}

.container_name,
.container_senha{
        border-radius: 40px;
        border: 0 none;
        background: var(--cor-dois);
        outline: 0;

        justify-items: center;
        align-items: center;
        text-align: center;

        margin-top: 0.5rem;
        padding: 1rem;
        display: flex;

        font-family: var(--font-dois);
        
    }

.bem-vindo{
    font-family: var(--font-dois);
    font-size: 18.72px;
    margin-top: 4%;
}
    
.entrar, 
.visitante{
    color: var(--cor-quatro);
    background-color: var(--cor-um);
    font-family: var(--font-dois);
    text-decoration: none;
    text-align: center;
    border-radius: 40px;
    flex-direction: column;
    display: flex;
    margin-top: 0.5rem;
    padding: 0.5rem;
    margin-bottom: -4rem;
}

.entrar{
    margin-bottom: 50%;
}

.rodape{
    height: 120px;
    left: 0px;
    right: 0px;
    top: 1031px;
    background: #2CBC63;
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    flex-shrink: 0;
}

.contatos{
    width: 266px;
    height: 116px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;

    margin-left: 4.5%;
}

#email_unifesspa,
#whatsapp,
#instagram{
    padding-top: 10px;
}


/*DEIXANDO ADAPTADO PARA MOBILE*/
@media screen and (max-width: 720px) {
    body{
        width: 100%;
        height: 100%;
    }

    .cabecalho{
        flex-direction: column;
    }

    .logoru{
        width: 100%;
        height: 70%;
        align-items: center;
    }

    .container{
        width: 90%;
        min-height: 100%;
        height: 30%;
        display: flex;

        flex-direction: column;
        justify-content: center;
        box-sizing: border-box;
        padding: 22%;
    }


    .img_logo{
        flex-direction: column-reverse;
        text-align: center;
    }

    .container{
        display: flex;
        text-align: center;
        flex-direction: column;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }

    .container_name,
    .container_senha{
        margin-top: 0.5rem;
        padding: 1rem;
        display: flex;
        align-items: center;
    }

    .entrar{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }

    .bem-vindo{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }

    .visitante{
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 0.5rem;
        padding: 0.5rem;
    }
    

    .rodape{
        width: 100%;
        height: 20%;
        
        position: absolute;
        flex-shrink: 0;
        bottom: 0;
        background: var(--cor-um);
    }
}
