@import url(./colors_fonts.css);
@import url(./reset.css);


body{
    height: 100vh;
}

.cabecalho {
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    height: 113px;
    left: 0px;
    top: 0px;
    background: var(--cor-um);
}

.textoh1{
    color: var(--cor-tres);
    text-align: center;
    font-family: var(--font-um);
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    padding: 10px;
}

.textop{
    min-height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 0 10%;
    font-family: var(--font-um);
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    flex: 1 0 auto;
    color: var(--cor-tres);
    marg
}

.rodape{
    height: 120px;
    left: 0px;
    right: 0px;
    top: 1031px;

    

    background: var(--cor-um);
    width:100%;
    margin: auto auto;
    padding: 10px 5px;
    flex-shrink: 0;
}

.contatos{
    width: 266px;
    height: 116px;
    color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 10px;

    margin-left: 4.5%;
}

#email_unifesspa,
#whatsapp,
#instagram{
    padding-top: 10px;
}

/*DEIXANDO ADAPTADO PARA MOBILE*/
@media screen and (max-width: 720px) {
    body{
        width: 100%;
        height: 100vh;;
    }
    .img_logo{
        flex-direction: column-reverse;
        text-align: center;
    }

    .textoh1{
        width: 100vw;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        box-sizing: border-box;
    }
    .rodape{
        height: 20%;
        width: 100vh;
        flex-shrink: 0;
        background: #2CBC63;
    }
}