*{
    margin: 0;
    padding: 0;
}

body{
    position: relative;
    width: 390px;
    height: 1082px;

    background: #FFFFFF;
}


.gov`{}

.gov_gov{
    width: 100vw;
    position: fixed;
    background-color: #0042B1;
}