*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    back
}

body{

}

.cabecalho{

}

.navegacao{

}

.rumaraba{

}

.caixa_texto{

}

.rodape{

}

.contatos{

}

.img-do-rodape{

}