:root{
    --cor-um: #2CBC63;
    --cor-dois: #D9D9D9;
    --cor-tres: #FFFFFF;
    --cor-quatro: #0042B1;
    --cor-cinco: #000000;
}

body{
    overflow-x: hidden;
    margin: 0;
    background-color: var(--cor-tres);
}

.wrapper{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cabecalho{
    background-color: var(--cor-um);
    display: flex;
    justify-content: center;
    flex-grow: 0;
}

.navegacao{
    background-color: var(--cor-dois);
    display: flex;
    justify-content: center;
    column-gap: 1rem;
    padding-block: 0.5rem;
    flex-grow: 0;
}

.cardapio, .login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 0.5rem;
    text-decoration: none;
}

main{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 5rem;
    padding-block: 2rem;
}

main > p{
    max-width: 80%;
    text-align: justify;
    padding-top: 1rem;
}

.rumaraba > img{
    width: 529px;
    height: 331px;
}

.texto {
    font-family: 'Arial';
    color: var(--cor-tres);
}

.rodape{
    display: flex;
    flex-direction: column;
    flex-grow: 0;
}

.contatos{
    background-color: var(--cor-dois);
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding-block: 5px;
}
.img-do-rodape{
    background-color: var(--cor-quatro);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}






/* Temporário */

.img_visitante{
    width: 5rem;
}
.img_aluno {
    width: 5rem;
}
.contatos > a > img {
    height: 1.5rem;
    width: 1.5rem;
}
.cardapio > img, .login > img{
    height: 1.5rem;
    width: 1.5rem;
}

@media screen and (max-width: 706px){
    .cabecalho > img{
        width: 80vw;
        height: auto;
    }
    .rumaraba > img{
        width: 80vw;
        height: auto;
    }
    main > p{
        max-width: 100%;
    }
}