*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-um: #2CBC63;
    --cor-dois: #D9D9D9;
    --cor-tres: #FFFFFF;
    --cor-quatro: #0042B1;
}

body{
    background-color: var(--cor-tres);
    width: 100%;
}

@media screen and () {
    
}

