*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-um: #2CBC63;
    --cor-dois: #D9D9D9;
    
}

body{

}

.cabecalho{

}

.navegacao{

}

.rumaraba{

}

.caixa_texto{

}

.rodape{

}

.contatos{

}

.img-do-rodape{

}