*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-um: #2CBC63;
    --cor-dois: #D9D9D9;
    --cor-tres: #FFFFFF;
    --cor-quatro: #0042B1;
    --cor-cinco: #000000
}

body{
    background-color: var(--cor-tres);
    width: 100%;
}


/* DESKTOP */
@media screen and (min-width: 1280px) {
    .cabecalho{
        background-color: var(--cor-um);
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .cabecalho > img {
        grid-column-start: 1;
        grid-column-end: 2;
    }
    
    .navegacao{
        gap: 2rem;
        grid-column-start: 3;
        grid-column-end: 3;
        place-items: center;
        /*
        background-color: var(--cor-dois);
        color: #000000;
        display: flex;
        justify-content: center;
        gap: 5rem;
        text-decoration: none;
        height: 2.15rem;
        */
    }

    .cardapio {
        border-radius: 10px;
        background-color: var(--cor-cinco);
        text-decoration: none;
        display: flex;
        padding: 0.15rem;
    }
    
    
    .container{
        
    }
    
    .rumaraba{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 2rem;
    }
    
    .rumaraba > img {
        width: 50%;
        height: 50%;
    }
    
    .rumaraba > p {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5rem;
        max-width: 50%;
    }
    
    .rumaraba > p{
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 0.5rem;
        max-width: 50%;
    }
    
    .link-do-edital{
        text-decoration: none;
    }
    
    
    .rodape{
        width: 100%;
        padding-top: 4rem;
    }
    
    .contatos{
        background-color: var(--cor-dois);
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 3rem;
    }
    
    .img-do-rodape{
        background-color: var(--cor-quatro);
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        height: 3.5rem;
    }
    
    .informacao{
        grid-column-start: 1;
        grid-column-end: 1;
        padding-left: 4rem;
    }
    
    .brasil {
        grid-column-start: 3;
        grid-column-end: 3;
        padding-left: 20rem;
    
    }
}

/* TABLET */
@media screen and (min-width: 768px) and (max-width: 1279px) {
    
}


/* MOBILE */
@media screen and (max-width: 767PX){
    
}