*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

:root{
    --cor-um: #2CBC63;
    --cor-um-hover: #57ce85;
    --cor-dois: #D9D9D9;
    --cor-tres: #FFFFFF;
    --cor-quatro: #0042B1;
    --cor-cinco: #000000;
}

body{
    background-color: var(--cor-tres);
    font-family: 'Arial';
    max-width: 100vw;
    height: 100vh;
    
}

button{
    border-radius: 12px;
    border: 0;
    padding-block: 5px;
    padding-inline: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0.2px rgba(0, 0, 0, 0.2);
}

.btn:hover{
    background-color: var(--cor-um-hover);
}

.wrapper{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3rem;
}

.cabecalho{
    background-color: var(--cor-um);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 0;

    padding-inline: 1rem;
}

.home{
    display: flex;
    justify-content: center;
    margin-inline: auto;
}

.user{
    width: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--cor-tres);
    text-shadow: 2px var(--cor-cinco);
}


.logout{
    background-color: var(--cor-um);
    border: none;
    box-shadow: none;
}
    /*---------------------------------------------*/

.content{
    display: flex;
    width: 50%;
    flex-grow: 1;

    margin: 5rem auto;
    padding: 4.375rem;

    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 3.125rem;
        
    background: var(--cor-dois);
        
    border-radius: 0.313rem;
}
    
.formulario{
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 0.625rem;
    column-gap: 0.938rem;
}
    
.pay{
    display: grid;
    grid-template-columns: 1.25rem auto;
    column-gap: 0.625rem;
    align-items: center;
}
    
.checkbox{
    width: 10.938rem;
}
    
input{
    width: 6.25rem;
}
    
.btn{
    text-decoration: none;
    cursor: pointer;
    color: var(--cor-tres);
    border-radius: 0.625rem;
    padding: 0.625rem 0.938rem;
    background-color: var(--cor-um);
}

.link_cardapio{
    text-decoration: none;
}


.rodape{
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 0;
}

.contatos{
    background-color: var(--cor-dois);
    display: flex;
    justify-content: center;
    column-gap: 2rem;
    padding-block: 5px;
}
.img-do-rodape{
    background-color: var(--cor-quatro);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

/* Temporário */

.img_visitante{
    width: 5rem;
}
.img_aluno {
    width: 5rem;
}
.contatos > a > img {
    height: 1.5rem;
    width: 1.5rem;
}


@media screen and (max-width: 562px){
    .cabecalho{
        justify-content: space-between;
    }
    .home{
        width: 100%;
        order: 1;
    }
    .user,
    .logout{
        order: 2;
    }
}